.container-main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 18vh - 84px);
    position: relative;
}

.label {
    font-weight: bold;
    font-size: 2em;
    position: relative;
}

.input {
    height: 4vh;
    width: 15vw;
    border: none;
    border-radius: 6px;
    padding: 1vh;
    margin: 2vh 0;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    text-align: center;
}