.container-main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 18vh - 84px);
}

.label {
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

.input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-color: #767676;
  border: 1px solid #767676;
  border-radius: 4px;
  margin-top: 8px;
}

.input:focus {
  outline: none;
}

.input:hover {
  border-color: #767676;
}
