.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5em;
    /* animation: slideMain 0.5s ease-in-out; */
}

.heading-text {
    font-size: 56px;
}

.slogan {
    font-size: 24px;
}

a {
    display: inline-flex;
}

@keyframes slideMain {
    0% {
        min-height: calc(100vh - 7vh - 168px);
    }

    25% {
        min-height: calc(100vh - 7vh - 147px);
    }

    50% {
        min-height: calc(100vh - 7vh - 126px);
    }

    75% {
        min-height: calc(100vh - 7vh - 105px);
    }

    100% {
        min-height: calc(100vh - 7vh - 84px);
    }
}