.container-note {
    flex-direction: column;
    max-width: calc(100vw - 441px);
    margin-left: 441px;
    position: relative;
    top: 5vh;
    height: 95vh;
}

.container-notetitle {
    background-color: transparent;
    display: block;
    width: calc(100vw - 441px);
    text-align: center;
    padding: 5vh 5vw;
    max-height: 15vh;
    color: white;
    font-size: 2em;
    font-weight: bold;
    /* overflow-y: auto; */
    border: none;
}

.container-notebody {
    background-color: transparent;
    color: white;
    padding: 0 10vw;
    line-height: 2em;
    font-size: 1.1em;
    max-height: 70vh;
    height: 100%;
    width: calc(100vw - 441px);
    overflow-y: auto;
    border: 0;
    resize: none;
}

.container-notebody:focus,
.container-notetitle:focus {
    outline: none;
}