.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 441px;
  border-left: 1px solid #505050;
  border-right: 1px solid #505050;
}

.header {
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  position: sticky;
  padding: 20px 0px;
  z-index: 1;
  border-bottom: 1px solid #505050;
}

.center-container {
  position: absolute;
  left: 41%;
}

.center-container-2 {
  position: absolute;
  left: 36%;
}

.right-container {
  position: absolute;
  right: 0%;
}

.button {
  background-color: transparent;
  color: #a0a0a0;
  border: none;
  font-size: 20px;
  padding: 0 15px;
  overflow: visible;
  cursor: pointer;
  position: relative;
}

.popup {
  background-color: #a0a0a0;
  color: white;
  width: 90px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 2;
  top: 130%;
  left: 10%;
  animation: fadeIn 0.75s 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heading {
  font-weight: 600;
  font-size: 18px;
}

.notes {
  overflow-y: auto;
}

.notes::-webkit-scrollbar {
  -webkit-appearance: none;
}

.notes::-webkit-scrollbar:vertical {
  width: 11px;
}

.notes::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #505050;
  background-color: rgba(0, 0, 0, .5);
}