.main-height {
  min-height: calc(100vh - 7vh - 84px);
}

.fa-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 9px;
  margin: 0px 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #ccc9c9;
}
